
/chatbot-backend/node_modules
/chatbot-frontend/node_modules

/chatbot-frontend/.pnp
/chatbot-frontend/.pnp.js

# testing
/chatbot-frontend/coverage

# production
/chatbot-frontend/build

# misc
/chatbot-frontend/.DS_Store
/chatbot-frontend/.env.local
/chatbot-frontend/.env.development.local
/chatbot-frontend/.env.test.local
/chatbot-frontend/.env.production.local
/chatbot-frontend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*